.contactForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 104, 74);
  padding: 2rem;
  border-radius: 1rem;

  position: relative;
}
.contactFormLabel {
  font-size: 2rem;
}
.contactFormInput {
  width: 100%;
  font-size: 2rem;
}
.contactFormBtn {
  margin-top: 1rem;
  font-size: 1.5rem;
}
