.loginForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: rgb(127, 104, 74);
  padding: 2rem;
  margin: 2rem auto 0 auto;
  border-radius: 1rem;
  margin-bottom: auto;
}
.loginFormCaption {
  font-size: 3rem;
}
.loginFormInput {
  width: 100%;
  font-size: 3rem;
}
.loginFormBtn {
  margin-top: 1rem;
  font-size: 3rem;
}
