.addContactForm {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 104, 74);
  padding: 2rem;
  /* margin: 2rem auto 0 auto; */
  border-radius: 1rem;
}
.addContactFormInput {
  width: 100%;
  font-size: 2rem;
}
.addContactFormLabel {
  font-size: 2rem;
}
.addContactFormBtn {
  margin-top: 1rem;
  font-size: 1.5rem;
}
