.contactsControls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.addBtn {
  font-size: 2rem;
  background-color: rgb(127, 104, 74);
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: inherit;
}
