.contactList {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
/* .contactListContent {

} */
.contactListItem {
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 47, 7);
  border-radius: 2rem;

  position: relative;
}

.contactListTextContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

/* .itemBtnWrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
} */

.contactListControls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.openModalNavLink {
  font-size: 1.5rem;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  /* cursor: pointer; */
  transition: border-color 0.25s;
}
.openModalNavLink:hover {
  border-color: #646cff;
  color: rgba(255, 255, 255, 0.87);
}
.openModalNavLink:focus,
.openModalNavLink:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.contactListBtn {
  font-size: 1.5rem;
  /* padding: 1rem; */
  height: 100%;
}
