.filter {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 104, 74);
  padding: 2rem;
  margin: 2rem auto 0 auto;
  border-radius: 1rem;
}
.filterCaption {
  font-size: 2rem;
}
.filterInput {
  width: 100%;
  font-size: 2rem;
}
