.filter {
  /* width: 100%; */
  display: flex;
  align-items: center;
  background-color: rgb(127, 104, 74);
  padding: 1rem;
  /* margin: 2rem auto 0 auto; */
  border-radius: 1rem;
  gap: 2rem;
  flex-grow: 1;
}
.filterCaption {
  font-size: 2rem;
  white-space: nowrap;
}
.filterInput {
  width: 100%;
  font-size: 2rem;
  height: 2.5rem;
  padding: 1rem;
}
